<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'discos:index' %}">
            <img src="../static/img/navbar-brand.png" width="32" height="32">
        </a>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'discos:discos'%}">
                    Discos
                </a>
            </div>
        </div>
    </div>
</nav>